*~
*.a
aclocal.m4
autom4te.cache
bcon-speed
bcon-col-view
bson-to-json
bson-validate
compile
config.*
configure
depcomp
.deps
INSTALL
install-sh
json-to-bson
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
stamp-h1
*.swp
test.log
test-libbson
COPYING
README
