*.a
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
.deps
INSTALL
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.pc
stamp-h1
*.swp
test-bson
test-bson-error
test-bson-iter
test-bson-json
test-bson-oid
test-bson-reader
test-bson-string
test-bson-utf8
